In [1]:
!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.8.6-cp37-cp37m-win_amd64.whl (1.1 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.8.6

In [1]:
import pandas as pd
from configparser import ConfigParser
import psycopg2
import pandas.io.sql as sqlio
from sqlalchemy import create_engine
import numpy as np
import matplotlib.pyplot as plt
from sklearn import tree
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

# CONNECT TO AWS DATABASE

In [2]:
##Note: uncomment this if you are using a config.py file, and change the "password"
# from config import password
password = "postgres"

In [3]:

param_dic={
    "host": "energy-analysis.cfcrgd6zjkoj.us-east-2.rds.amazonaws.com",
    "database": "Energy_Analysis",
    "user" : "postgres",
    "password" : password
}

def connect(params_dic):
    """ Connect to the PostgreSQL database server """
    conn = None
    try:
        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(**params_dic)
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        sys.exit(1) 
    print("Connection successful")
    return conn

conn = connect(param_dic)

Connecting to the PostgreSQL database...
Connection successful

In [4]:
query="select * from ml_input"

ml_input_df=sqlio.read_sql_query(query,conn)

ml_input_df.head()

,sampno,gender,employment,student,education,drive_freq,transit_freq,tnc_freq,job_type,work_mode,...,autonomous_hhveh,autonomous_rideshare,autonomous_pooled,autonomous_pref,housing,housing_1_8_x,solar,solar_future,income,ev_flag
0,190001,1,4,4,6,3,0,0,,,...,2,2,1,1,2,,2,2,6,0
1,190003,2,4,4,8,1,0,0,,,...,3,1,4,1,1,,2,2,5,0
2,190003,2,4,4,8,1,0,0,,,...,3,1,4,1,1,,2,2,5,0
3,190005,1,4,4,6,2,0,0,,,...,2,2,3,2,1,,2,2,7,0
4,190005,1,4,4,6,2,0,0,,,...,2,2,3,2,1,,2,2,7,0

In [5]:
ml_input_df.select_dtypes(exclude='int64').columns

Index(['drive_freq', 'job_type', 'work_mode', 'work_distance', 'work_days',
       'school_mode', 'school_distance', 'hybrid_experience', 'past_hybrid',
       'phev_experience', 'past_phev', 'bev_experience', 'past_bev',
       'fcv_experience', 'past_fcv', 'charge_spots', 'charge_work',
       'home_parking_1', 'home_parking_2', 'home_parking_3', 'home_parking_4',
       'home_parking_5', 'home_parking_6', 'home_parking_7', 'home_parking_8',
       'home_parking_9', 'home_parking_8_x', 'home_electricity_access',
       'hsa_distance_1_1_x', 'hsa_distance_1_2_x', 'future_purchase',
       'next_purchase', 'purchase_timing', 'mode_freq_1', 'mode_freq_2',
       'mode_freq_3', 'mode_freq_4', 'mode_freq_5', 'mode_freq_6',
       'mode_freq_7', 'mode_freq_8', 'mode_freq_9', 'mode_freq_10',
       'mode_freq_11', 'mode_freq_12', 'autonomous_rideshare', 'housing_1_8_x',
       'solar_future'],
      dtype='object')

In [8]:
# ml_input_df.columns

## Clean Data

In [6]:
#columns to drop.
ml_input_df =ml_input_df.drop(['charge_spots','home_parking_1', 'home_parking_2', 'home_parking_3', 'home_parking_4',
       'home_parking_5', 'home_parking_6', 'home_parking_7', 'home_parking_8',
       'home_parking_9', 'home_parking_8_x','home_electricity_access','sampno','charge_work'],axis=1)
# maybe these are okay.
ml_input_df=ml_input_df.drop(['bev_experience', 'phev_experience','past_bev',
                              'past_phev'],axis=1)
list(ml_input_df)

['gender',
 'employment',
 'student',
 'education',
 'drive_freq',
 'transit_freq',
 'tnc_freq',
 'job_type',
 'work_mode',
 'work_distance',
 'work_days',
 'school_mode',
 'school_distance',
 'age_grp',
 'california',
 'county',
 'region',
 'future_decision_role',
 'num_hh_vehicles',
 'household_members_1',
 'household_members_2',
 'household_members_3',
 'household_members_4',
 'tot_hh_members',
 'hybrid_experience',
 'past_hybrid',
 'fcv_experience',
 'past_fcv',
 'hydrogen_station_awareness',
 'hsa_distance_1_1_x',
 'hsa_distance_1_2_x',
 'future_purchase',
 'next_purchase',
 'purchase_timing',
 'modes_used_1',
 'modes_used_2',
 'modes_used_3',
 'modes_used_4',
 'modes_used_5',
 'modes_used_6',
 'modes_used_7',
 'modes_used_8',
 'modes_used_9',
 'modes_used_10',
 'modes_used_11',
 'modes_used_12',
 'mode_freq_1',
 'mode_freq_2',
 'mode_freq_3',
 'mode_freq_4',
 'mode_freq_5',
 'mode_freq_6',
 'mode_freq_7',
 'mode_freq_8',
 'mode_freq_9',
 'mode_freq_10',
 'mode_freq_11',
 'mode_freq_12',
 'autonomous_aware',
 'autonomous_att_1',
 'autonomous_att_2',
 'autonomous_att_3',
 'autonomous_att_4',
 'autonomous_att_5',
 'autonomous_att_6',
 'autonomous_att_7',
 'autonomous_att_8',
 'autonomous_hhveh',
 'autonomous_rideshare',
 'autonomous_pooled',
 'autonomous_pref',
 'housing',
 'housing_1_8_x',
 'solar',
 'solar_future',
 'income',
 'ev_flag']

## Split Data into Training and Testing

In [7]:
# check the datatypes
ml_input_df.dtypes

gender            int64
employment        int64
student           int64
education         int64
drive_freq       object
                  ...
housing_1_8_x    object
solar             int64
solar_future     object
income            int64
ev_flag           int64
Length: 77, dtype: object

In [8]:
# Generate our categorical variable lists
ml_input_categorical = ml_input_df.dtypes[ml_input_df.dtypes == "object"].index.tolist()
ml_input_categorical

['drive_freq',
 'job_type',
 'work_mode',
 'work_distance',
 'work_days',
 'school_mode',
 'school_distance',
 'hybrid_experience',
 'past_hybrid',
 'fcv_experience',
 'past_fcv',
 'hsa_distance_1_1_x',
 'hsa_distance_1_2_x',
 'future_purchase',
 'next_purchase',
 'purchase_timing',
 'mode_freq_1',
 'mode_freq_2',
 'mode_freq_3',
 'mode_freq_4',
 'mode_freq_5',
 'mode_freq_6',
 'mode_freq_7',
 'mode_freq_8',
 'mode_freq_9',
 'mode_freq_10',
 'mode_freq_11',
 'mode_freq_12',
 'autonomous_rideshare',
 'housing_1_8_x',
 'solar_future']

In [9]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(ml_input_df[ml_input_categorical]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(ml_input_categorical)
encode_df.head()

,drive_freq_,drive_freq_1,drive_freq_2,drive_freq_3,drive_freq_4,job_type_,job_type_1,job_type_2,job_type_3,job_type_4,...,housing_1_8_x_attached single family house,housing_1_8_x_casa,housing_1_8_x_extra room,housing_1_8_x_family home,housing_1_8_x_granny flat,housing_1_8_x_guest house,housing_1_8_x_manufactured sfr,solar_future_,solar_future_1,solar_future_2
0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [10]:
# Merge one-hot encoded features and drop the originals
ml_input_final = ml_input_df.merge(encode_df,left_index=True,right_index=True).drop(ml_input_categorical,1)
ml_input_final

,gender,employment,student,education,transit_freq,tnc_freq,age_grp,california,county,region,...,housing_1_8_x_attached single family house,housing_1_8_x_casa,housing_1_8_x_extra room,housing_1_8_x_family home,housing_1_8_x_granny flat,housing_1_8_x_guest house,housing_1_8_x_manufactured sfr,solar_future_,solar_future_1,solar_future_2
0,1,4,4,6,0,0,4,1,38,5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,2,4,4,8,0,0,4,1,30,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,2,4,4,8,0,0,4,1,30,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,1,4,4,6,0,0,4,1,7,5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,1,4,4,6,0,0,4,1,7,5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17835,2,1,4,8,0,0,2,1,19,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
17836,2,1,4,8,0,0,2,1,19,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
17837,2,1,4,8,0,0,2,1,19,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
17838,1,1,4,2,0,0,2,1,1,5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
17839,2,4,4,2,0,0,2,1,1,5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

## Build our Model

### Predict EV Ownership Based on Personal Demographics

In [11]:
# Split our preprocessed data into our features and target arrays
X=ml_input_final.drop(columns='ev_flag', axis='columns')
y=ml_input_final['ev_flag']

In [12]:
print(X.shape)

(17840, 470)

In [13]:
X[:10]

,gender,employment,student,education,transit_freq,tnc_freq,age_grp,california,county,region,...,housing_1_8_x_attached single family house,housing_1_8_x_casa,housing_1_8_x_extra room,housing_1_8_x_family home,housing_1_8_x_granny flat,housing_1_8_x_guest house,housing_1_8_x_manufactured sfr,solar_future_,solar_future_1,solar_future_2
0,1,4,4,6,0,0,4,1,38,5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,2,4,4,8,0,0,4,1,30,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,2,4,4,8,0,0,4,1,30,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,1,4,4,6,0,0,4,1,7,5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,1,4,4,6,0,0,4,1,7,5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5,2,4,4,6,0,0,4,1,7,5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
6,2,4,4,6,0,0,4,1,7,5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
7,2,4,1,4,0,2,2,1,19,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
8,1,1,4,3,0,0,2,1,19,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
9,2,4,4,1,1,0,2,1,19,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [14]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=1)

In [15]:
# Determine the shape of our training and testing sets.
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(13380, 470)
(4460, 470)
(13380,)
(4460,)

In [16]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

### Decision Tree Model

#### Fit the Decision Tree Model

In [17]:
# Creating the decision tree classifier instance.
model = tree.DecisionTreeClassifier()
# Fitting the model.
model = model.fit(X_train_scaled, y_train)

#### Make Predictions with the Decision Tree Model

In [18]:
# Making predictions using the testing data.
predictions = model.predict(X_test_scaled)

#### Evaluate the Model

In [19]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0         3977          149
Actual 1          265           69

In [21]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)
acc_score

0.9071748878923767

In [22]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0         3977          149
Actual 1          265           69

Accuracy Score : 0.9071748878923767
Classification Report
              precision    recall  f1-score   support

           0       0.94      0.96      0.95      4126
           1       0.32      0.21      0.25       334

    accuracy                           0.91      4460
   macro avg       0.63      0.59      0.60      4460
weighted avg       0.89      0.91      0.90      4460

### Random Forest Model

#### Fit the Random Forest Model

In [23]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

In [24]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

#### Make Predictions Random Forest Model

In [25]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)

#### Evaluate the Random Forest Model

In [26]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0         3961          165
Actual 1          266           68

In [27]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)
acc_score

0.9033632286995515

In [28]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0         3961          165
Actual 1          266           68

Accuracy Score : 0.9033632286995515
Classification Report
              precision    recall  f1-score   support

           0       0.94      0.96      0.95      4126
           1       0.29      0.20      0.24       334

    accuracy                           0.90      4460
   macro avg       0.61      0.58      0.59      4460
weighted avg       0.89      0.90      0.90      4460

#### Rank the Importance of Features

In [29]:
# Calculate feature importance in the Random Forest model.
importances = rf_model.feature_importances_
importances

array([2.01112927e-02, 1.17122302e-02, 3.66911423e-03, 2.44623456e-02,
       7.99700609e-03, 7.16857648e-03, 7.86801609e-03, 0.00000000e+00,
       2.19482276e-02, 1.49732787e-02, 1.04900732e-02, 1.30008896e-02,
       6.28709228e-03, 7.62766407e-03, 6.43589903e-03, 9.83021957e-03,
       1.37219300e-02, 1.15062816e-02, 1.12116341e-02, 8.82637984e-03,
       1.16428811e-02, 1.08191104e-02, 7.98245968e-03, 8.61994814e-03,
       9.10085020e-03, 9.94299845e-03, 1.10257933e-02, 1.05737163e-02,
       1.08052843e-02, 1.09369259e-02, 1.89808609e-02, 1.34179332e-02,
       1.57884131e-02, 1.29907102e-02, 1.51460988e-02, 1.25873483e-02,
       5.13758998e-03, 1.44559115e-02, 1.33147808e-02, 2.08538405e-02,
       1.34736711e-02, 1.58381953e-02, 6.09902918e-03, 1.05780769e-02,
       2.19680336e-02, 2.39335321e-03, 8.08851198e-03, 6.82746732e-03,
       1.79558524e-03, 1.09217014e-03, 5.22828934e-03, 6.87359598e-03,
       3.68908055e-03, 3.96557236e-03, 1.62835697e-03, 5.02502282e-03,
       6.08699167e-03, 9.17544625e-04, 4.98561177e-04, 1.38683083e-04,
       6.14910514e-05, 9.73827701e-06, 1.48662831e-04, 8.68575153e-04,
       1.60342551e-03, 7.89982283e-04, 8.65905723e-04, 9.31885171e-04,
       2.27906314e-04, 0.00000000e+00, 4.24226131e-04, 1.29907264e-04,
       4.87382653e-03, 1.10166050e-03, 3.40005538e-04, 2.20975670e-04,
       3.16037622e-06, 6.84600314e-05, 1.56092622e-03, 9.78871609e-06,
       6.21574933e-06, 1.88184706e-04, 0.00000000e+00, 0.00000000e+00,
       3.12217239e-03, 3.91385988e-04, 5.06434304e-04, 1.39498943e-05,
       2.08330344e-03, 0.00000000e+00, 2.02187354e-03, 0.00000000e+00,
       0.00000000e+00, 6.56640953e-04, 0.00000000e+00, 3.83970309e-03,
       1.24141983e-04, 0.00000000e+00, 1.10837204e-03, 0.00000000e+00,
       0.00000000e+00, 5.44944224e-04, 1.19888151e-03, 1.16233009e-04,
       1.88430678e-03, 2.99649019e-07, 0.00000000e+00, 2.24291051e-05,
       0.00000000e+00, 0.00000000e+00, 1.96393131e-03, 0.00000000e+00,
       1.42180621e-04, 2.78139490e-04, 9.19864598e-04, 0.00000000e+00,
       3.04737038e-04, 2.01625225e-05, 0.00000000e+00, 2.42733693e-03,
       4.42655852e-04, 1.25197540e-05, 4.41311425e-05, 1.94440371e-07,
       1.69596245e-03, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       2.29790825e-06, 2.32781251e-03, 5.40244483e-04, 6.26148037e-04,
       5.29886235e-05, 0.00000000e+00, 1.02920995e-03, 1.59773636e-04,
       1.71495306e-04, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       1.75772127e-03, 0.00000000e+00, 2.05251630e-04, 1.74600157e-03,
       0.00000000e+00, 1.31707029e-04, 1.50783627e-04, 0.00000000e+00,
       7.46173421e-04, 3.42636800e-05, 0.00000000e+00, 3.12910865e-04,
       2.59237780e-03, 0.00000000e+00, 0.00000000e+00, 5.70395858e-04,
       0.00000000e+00, 7.20653456e-04, 4.85559855e-08, 5.89972583e-04,
       5.11785427e-04, 1.52800393e-04, 5.85008795e-05, 1.89514484e-03,
       0.00000000e+00, 2.74663768e-06, 1.86661463e-05, 0.00000000e+00,
       0.00000000e+00, 1.76512398e-04, 4.72664048e-04, 0.00000000e+00,
       4.86691210e-04, 2.55568816e-06, 0.00000000e+00, 1.87907768e-03,
       0.00000000e+00, 3.25090234e-06, 1.55935513e-04, 1.89415090e-04,
       3.72359459e-05, 6.51596933e-06, 2.49343609e-03, 3.99338558e-07,
       2.50970859e-08, 1.07368391e-05, 5.26714978e-04, 0.00000000e+00,
       6.20223170e-05, 1.55278498e-03, 2.70752014e-04, 1.67888250e-06,
       0.00000000e+00, 1.05626629e-04, 0.00000000e+00, 4.98852714e-03,
       7.55744148e-04, 1.86452961e-03, 2.10476930e-03, 2.95181468e-03,
       3.16811108e-03, 7.25129148e-03, 1.41214117e-03, 4.75006545e-04,
       2.29108054e-03, 2.00631976e-03, 1.15512505e-04, 8.84890491e-05,
       1.78391305e-07, 4.01612443e-04, 4.12342860e-04, 2.34582814e-04,
       5.83188023e-04, 2.86808329e-05, 1.12733482e-04, 1.34804419e-04,
       0.00000000e+00, 2.24459890e-03, 3.05905071e-04, 0.00000000e+00,
       3.80283714e-08, 8.64632898e-07, 5.65146821e-04, 0.00000000e+00,
       0.00000000e+00, 3.76832338e-04, 2.10714348e-06, 5.94493172e-05,
       7.49116702e-05, 1.04020010e-05, 0.00000000e+00, 4.83491386e-06,
       6.14095491e-07, 7.11668285e-04, 0.00000000e+00, 5.49612590e-07,
       1.96106144e-05, 4.33610068e-04, 4.73700205e-04, 0.00000000e+00,
       0.00000000e+00, 3.60356612e-05, 2.16850620e-04, 9.69313685e-05,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 1.07695047e-04,
       1.83046018e-05, 0.00000000e+00, 0.00000000e+00, 5.36913568e-04,
       0.00000000e+00, 8.92037901e-05, 2.53640572e-04, 1.37277998e-04,
       0.00000000e+00, 0.00000000e+00, 8.29772641e-06, 6.85399667e-04,
       0.00000000e+00, 0.00000000e+00, 7.71200013e-06, 0.00000000e+00,
       0.00000000e+00, 4.21680175e-04, 5.71048115e-04, 0.00000000e+00,
       9.36049215e-04, 3.60135764e-05, 1.49074164e-04, 0.00000000e+00,
       0.00000000e+00, 1.86971811e-04, 0.00000000e+00, 5.28554491e-03,
       1.93823397e-02, 7.02913244e-03, 7.67687345e-03, 4.57474597e-03,
       3.48104802e-03, 1.99326119e-03, 1.83718524e-03, 5.06739743e-03,
       3.26273951e-03, 1.89164488e-03, 3.78763276e-03, 3.90177519e-03,
       2.11709414e-03, 1.67291237e-03, 4.30254020e-03, 5.52953432e-03,
       7.04898824e-03, 4.56049634e-03, 0.00000000e+00, 3.44574318e-04,
       3.13293488e-03, 0.00000000e+00, 5.06291238e-06, 2.17230574e-05,
       0.00000000e+00, 6.74750872e-06, 1.55018321e-03, 0.00000000e+00,
       3.65781422e-04, 0.00000000e+00, 0.00000000e+00, 1.22790166e-03,
       2.44815664e-08, 9.95754612e-06, 3.50412820e-07, 1.17663632e-04,
       4.02418569e-07, 2.92139949e-06, 7.97937099e-04, 1.40788702e-03,
       1.96824586e-05, 1.87835668e-04, 2.90562468e-04, 0.00000000e+00,
       0.00000000e+00, 1.08832196e-03, 7.35910907e-06, 8.08793620e-04,
       6.08999928e-04, 0.00000000e+00, 1.26230215e-03, 1.80559579e-03,
       6.15708480e-06, 0.00000000e+00, 8.53649301e-04, 1.03456876e-03,
       0.00000000e+00, 1.27368455e-06, 8.91553788e-04, 8.16333817e-06,
       1.15098298e-05, 1.44976930e-03, 5.65596098e-04, 2.22633852e-03,
       8.52666499e-07, 8.22453051e-04, 2.07113557e-05, 3.44642810e-05,
       2.80500748e-03, 0.00000000e+00, 6.73084759e-04, 5.61594669e-04,
       3.25565733e-04, 1.89883442e-04, 0.00000000e+00, 6.07556902e-04,
       0.00000000e+00, 0.00000000e+00, 1.78091313e-03, 9.53609499e-07,
       1.12735996e-03, 7.01532191e-06, 1.08735099e-03, 0.00000000e+00,
       1.01557870e-04, 4.80036688e-07, 8.59557281e-06, 2.49827722e-06,
       5.82103209e-04, 0.00000000e+00, 2.01554376e-03, 4.87479301e-06,
       0.00000000e+00, 0.00000000e+00, 6.73006125e-03, 1.32140407e-03,
       6.61183518e-03, 4.02057925e-03, 1.14414223e-03, 2.65256720e-05,
       1.57335415e-04, 2.64117723e-05, 3.23428009e-03, 3.36208921e-03,
       1.95994440e-03, 1.75513610e-03, 2.24216674e-03, 1.71292175e-03,
       3.11812906e-04, 1.29238300e-03, 8.12759716e-04, 4.64449111e-04,
       2.91412801e-04, 3.63971785e-04, 3.33612642e-03, 3.13812327e-03,
       1.35775639e-03, 6.62949674e-04, 9.13589440e-04, 4.51190354e-03,
       4.80170553e-03, 2.17975256e-03, 1.01891051e-03, 1.77628612e-03,
       3.68526144e-03, 3.55805750e-03, 9.98468599e-04, 2.40860485e-04,
       3.42385264e-04, 3.34587507e-03, 3.17849659e-03, 4.01685246e-04,
       1.49397400e-03, 8.00243816e-05, 4.70711382e-03, 5.39362666e-03,
       1.88843588e-03, 5.30735251e-04, 5.97929765e-05, 6.60405574e-03,
       6.02652706e-03, 5.11951465e-03, 1.32539351e-03, 4.43642528e-04,
       4.76905656e-03, 3.85662855e-03, 2.76994651e-03, 1.39420533e-03,
       1.54585364e-04, 9.61599101e-04, 9.71218525e-04, 9.66478894e-04,
       7.66405620e-06, 7.18485250e-06, 1.09170753e-03, 9.68365842e-04,
       1.04335120e-03, 1.20350954e-05, 3.17393378e-05, 2.36910824e-03,
       1.80319163e-03, 9.75076537e-04, 7.24696309e-04, 2.88177670e-05,
       9.22613083e-04, 1.04543997e-03, 7.53088579e-05, 2.81526217e-04,
       0.00000000e+00, 6.34462602e-03, 6.97550044e-03, 3.31264844e-03,
       1.43776612e-05, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 2.67895109e-07, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 1.06359469e-02,
       5.10738532e-03, 7.92914853e-03])

In [30]:
# We can sort the features by their importance.
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.024462345598569905, 'education'),
 (0.021968033634811472, 'income'),
 (0.021948227603931447, 'county'),
 (0.020853840522602918, 'autonomous_hhveh'),
 (0.020111292731042126, 'gender'),
 (0.019382339696566, 'hybrid_experience_1'),
 (0.018980860852422156, 'autonomous_aware'),
 (0.015838195301964605, 'autonomous_pref'),
 (0.015788413091257104, 'autonomous_att_2'),
 (0.015146098789360449, 'autonomous_att_4'),
 (0.01497327869787158, 'region'),
 (0.014455911452808293, 'autonomous_att_7'),
 (0.013721930033291477, 'tot_hh_members'),
 (0.013473671140496456, 'autonomous_pooled'),
 (0.013417933178378078, 'autonomous_att_1'),
 (0.013314780780236481, 'autonomous_att_8'),
 (0.013000889621273229, 'num_hh_vehicles'),
 (0.012990710166828448, 'autonomous_att_3'),
 (0.012587348329694657, 'autonomous_att_5'),
 (0.011712230159112593, 'employment'),
 (0.011642881133427692, 'modes_used_3'),
 (0.011506281607745961, 'hydrogen_station_awareness'),
 (0.011211634089255637, 'modes_used_1'),
 (0.011025793298800126, 'modes_used_9'),
 (0.010936925914948645, 'modes_used_12'),
 (0.010819110412312156, 'modes_used_4'),
 (0.010805284348455714, 'modes_used_11'),
 (0.010635946860621531, 'solar_future_ '),
 (0.010578076936398843, 'solar'),
 (0.010573716331474962, 'modes_used_10'),
 (0.010490073163810492, 'future_decision_role'),
 (0.009942998447345043, 'modes_used_8'),
 (0.009830219573724805, 'household_members_4'),
 (0.009100850197714084, 'modes_used_7'),
 (0.008826379836202896, 'modes_used_2'),
 (0.008619948136445142, 'modes_used_6'),
 (0.00808851197768327, 'drive_freq_1'),
 (0.00799700608829045, 'transit_freq'),
 (0.007982459675242947, 'modes_used_5'),
 (0.0079291485324773, 'solar_future_2'),
 (0.00786801609216733, 'age_grp'),
 (0.0076768734537556085, 'past_hybrid_ '),
 (0.0076276640675311605, 'household_members_2'),
 (0.00725129147764686, 'work_days_5'),
 (0.00716857647844304, 'tnc_freq'),
 (0.007048988237182487, 'past_fcv_5'),
 (0.0070291324403126835, 'hybrid_experience_2'),
 (0.006975500436804933, 'autonomous_rideshare_2'),
 (0.006873595976933812, 'job_type_1'),
 (0.006827467324991357, 'drive_freq_2'),
 (0.0067300612478477925, 'next_purchase_1'),
 (0.0066118351844473245, 'next_purchase_2'),
 (0.006604055735482632, 'mode_freq_7_ '),
 (0.006435899033202385, 'household_members_3'),
 (0.006344626022446638, 'autonomous_rideshare_1'),
 (0.006287092279114641, 'household_members_1'),
 (0.006099029176769603, 'housing'),
 (0.006086991669149528, 'work_mode_1'),
 (0.00602652706178338, 'mode_freq_7_1'),
 (0.005529534315801335, 'past_fcv_4'),
 (0.0053936266589167895, 'mode_freq_6_1'),
 (0.005285544913482006, 'hybrid_experience_ '),
 (0.005228289340782551, 'job_type_ '),
 (0.005137589983639964, 'autonomous_att_6'),
 (0.005119514652204724, 'mode_freq_7_2'),
 (0.0051073853167118944, 'solar_future_1'),
 (0.005067397432437414, 'past_hybrid_5'),
 (0.00502502282357544, 'work_mode_ '),
 (0.004988527139417479, 'work_days_ '),
 (0.004873826530429458, 'work_distance_ '),
 (0.004801705534282123, 'mode_freq_3_1'),
 (0.0047690565565375945, 'mode_freq_8_ '),
 (0.004707113822372057, 'mode_freq_6_ '),
 (0.004574745969013333, 'past_hybrid_1'),
 (0.004560496343797773, 'hsa_distance_1_1_x_ '),
 (0.004511903541560165, 'mode_freq_3_ '),
 (0.0043025402040517404, 'past_fcv_3'),
 (0.004020579246888351, 'next_purchase_3'),
 (0.003965572360338179, 'job_type_3'),
 (0.003901775192718973, 'past_fcv_ '),
 (0.0038566285472454646, 'mode_freq_8_1'),
 (0.0038397030865885916, 'work_distance_15'),
 (0.0037876327580604005, 'fcv_experience_2'),
 (0.0036890805528352567, 'job_type_2'),
 (0.003685261443551767, 'mode_freq_4_ '),
 (0.0036691142320323003, 'student'),
 (0.0035580574985882717, 'mode_freq_4_1'),
 (0.0034810480220215084, 'past_hybrid_2'),
 (0.00336208921180987, 'purchase_timing_ '),
 (0.0033458750656309402, 'mode_freq_5_ '),
 (0.00333612642491798, 'mode_freq_2_ '),
 (0.0033126484426928525, 'autonomous_rideshare_3'),
 (0.00326273951317701, 'fcv_experience_ '),
 (0.003234280094112142, 'next_purchase_9'),
 (0.0031784965876825964, 'mode_freq_5_1'),
 (0.0031681110841845785, 'work_days_4'),
 (0.003138123270327333, 'mode_freq_2_1'),
 (0.00313293487643192, 'hsa_distance_1_1_x_10'),
 (0.00312217238960197, 'work_distance_10'),
 (0.0029518146765521256, 'work_days_3'),
 (0.0028050074836500545, 'hsa_distance_1_2_x_ '),
 (0.0027699465102509805, 'mode_freq_8_2'),
 (0.0025923777954141164, 'work_distance_5'),
 (0.002493436093109877, 'work_distance_8'),
 (0.002427336926425668, 'work_distance_25'),
 (0.002393353211631127, 'drive_freq_ '),
 (0.0023691082384956095, 'mode_freq_11_ '),
 (0.0023278125061122865, 'work_distance_30'),
 (0.002291080544371604, 'school_mode_ '),
 (0.0022445988969389398, 'school_distance_ '),
 (0.0022421667420855418, 'purchase_timing_3'),
 (0.002226338522921416, 'hsa_distance_1_1_x_7'),
 (0.002179752559800312, 'mode_freq_3_2'),
 (0.002117094144761418, 'past_fcv_1'),
 (0.0021047693013542365, 'work_days_2'),
 (0.0020833034428256922, 'work_distance_12'),
 (0.0020218735379781785, 'work_distance_13'),
 (0.0020155437575103087, 'hsa_distance_1_2_x_60'),
 (0.0020063197632361847, 'school_mode_1'),
 (0.001993261191802917, 'past_hybrid_3'),
 (0.001963931314431958, 'work_distance_20'),
 (0.0019599443989698553, 'purchase_timing_1'),
 (0.001895144844433705, 'work_distance_6'),
 (0.0018916448766809096, 'fcv_experience_1'),
 (0.0018884358776493457, 'mode_freq_6_2'),
 (0.0018843067778578503, 'work_distance_2'),
 (0.0018790776826514556, 'work_distance_7'),
 (0.0018645296128255884, 'work_days_1'),
 (0.0018371852442521086, 'past_hybrid_4'),
 (0.0018055957892977794, 'hsa_distance_1_1_x_4'),
 (0.0018031916326230863, 'mode_freq_11_1'),
 (0.0017955852370807055, 'drive_freq_3'),
 (0.0017809131284847873, 'hsa_distance_1_2_x_20'),
 (0.0017762861162812968, 'mode_freq_3_4'),
 (0.0017577212676206547, 'work_distance_4'),
 (0.0017551360966436827, 'purchase_timing_2'),
 (0.0017460015737159101, 'work_distance_40'),
 (0.0017129217528879138, 'purchase_timing_4'),
 (0.001695962449227162, 'work_distance_3'),
 (0.0016729123744353327, 'past_fcv_2'),
 (0.0016283569708025478, 'job_type_4'),
 (0.0016034255078893444, 'work_mode_2'),
 (0.0015609262193468608, 'work_distance_1'),
 (0.0015527849833541219, 'work_distance_9'),
 (0.0015501832148361126, 'hsa_distance_1_1_x_12'),
 (0.0014939740023455481, 'mode_freq_5_3'),
 (0.0014497693042375638, 'hsa_distance_1_1_x_6'),
 (0.001412141166759993, 'work_days_6'),
 (0.0014078870162526989, 'hsa_distance_1_1_x_20'),
 (0.0013942053275234727, 'mode_freq_8_3'),
 (0.0013577563945385142, 'mode_freq_2_2'),
 (0.001325393510497109, 'mode_freq_7_3'),
 (0.0013214040747049746, 'next_purchase_10'),
 (0.0012923830002345403, 'mode_freq_1_ '),
 (0.0012623021533775512, 'hsa_distance_1_1_x_35'),
 (0.0012279016606902822, 'hsa_distance_1_1_x_15'),
 (0.0011988815066855836, 'work_distance_18'),
 (0.001144142233510491, 'next_purchase_4'),
 (0.001127359962345077, 'hsa_distance_1_2_x_25'),
 (0.0011083720367443524, 'work_distance_16'),
 (0.0011016604990157304, 'work_distance_0'),
 (0.0010921701385768346, 'drive_freq_4'),
 (0.0010917075300089785, 'mode_freq_10_ '),
 (0.0010883219568167007, 'hsa_distance_1_1_x_25'),
 (0.0010873509863331544, 'hsa_distance_1_2_x_30'),
 (0.0010454399725978592, 'mode_freq_12_1'),
 (0.001043351202669704, 'mode_freq_10_2'),
 (0.0010345687550653096, 'hsa_distance_1_1_x_50'),
 (0.001029209950950073, 'work_distance_35'),
 (0.001018910507401226, 'mode_freq_3_3'),
 (0.000998468598516719, 'mode_freq_4_2'),
 (0.0009750765368971013, 'mode_freq_11_2'),
 (0.0009712185245324739, 'mode_freq_9_1'),
 (0.0009683658416139446, 'mode_freq_10_1'),
 (0.0009664788935311671, 'mode_freq_9_2'),
 (0.0009615991011453672, 'mode_freq_9_ '),
 (0.0009360492146074771, 'school_distance_7'),
 (0.0009318851708215578, 'work_mode_5'),
 (0.0009226130831655306, 'mode_freq_12_ '),
 (0.000919864598007795, 'work_distance_22'),
 (0.0009175446245738696, 'work_mode_11'),
 (0.0009135894403128175, 'mode_freq_2_4'),
 (0.0008915537884174011, 'hsa_distance_1_1_x_55'),
 (0.0008685751530898195, 'work_mode_18'),
 (0.0008659057233204895, 'work_mode_4'),
 (0.0008536493005565798, 'hsa_distance_1_1_x_5'),
 (0.0008224530508386819, 'hsa_distance_1_1_x_8'),
 (0.0008127597164379266, 'mode_freq_1_1'),
 (0.0008087936200906171, 'hsa_distance_1_1_x_3'),
 (0.0007979370993782995, 'hsa_distance_1_1_x_2'),
 (0.0007899822828594847, 'work_mode_3'),
 (0.000755744148042993, 'work_days_0'),
 (0.0007461734207354535, 'work_distance_45'),
 (0.0007246963093686762, 'mode_freq_11_3'),
 (0.0007206534563543076, 'work_distance_50'),
 (0.0007116682848012314, 'school_distance_15'),
 (0.0006853996665839781, 'school_distance_5'),
 (0.0006730847586088086, 'hsa_distance_1_2_x_1'),
 (0.000662949674222584, 'mode_freq_2_3'),
 (0.0006566409530999178, 'work_distance_14'),
 (0.0006261480366059614, 'work_distance_32'),
 (0.0006089999284543429, 'hsa_distance_1_1_x_30'),
 (0.0006075569021953966, 'hsa_distance_1_2_x_15'),
 (0.000589972583118966, 'work_distance_53'),
 (0.0005831880232998109, 'school_mode_4'),
 (0.000582103208566024, 'hsa_distance_1_2_x_5'),
 (0.0005710481149216943, 'school_distance_60'),
 (0.0005703958575548618, 'work_distance_5.5'),
 (0.0005655960984107866, 'hsa_distance_1_1_x_60'),
 (0.0005651468212151387, 'school_distance_1'),
 (0.0005615946686893553, 'hsa_distance_1_2_x_10'),
 (0.0005449442242709719, 'work_distance_17'),
 (0.000540244482895105, 'work_distance_31'),
 (0.0005369135682554278, 'school_distance_30'),
 (0.0005307352506206776, 'mode_freq_6_3'),
 (0.0005267149781174053, 'work_distance_80'),
 (0.0005117854272082236, 'work_distance_54'),
 (0.0005064343036337627, 'work_distance_11'),
 (0.0004985611768643042, 'work_mode_12'),
 (0.00048669121045120646, 'work_distance_64'),
 (0.0004750065449862129, 'work_days_7'),
 (0.00047370020461299454, 'school_distance_2'),
 (0.00047266404777355933, 'work_distance_62'),
 (0.0004644491107376772, 'mode_freq_1_2'),
 (0.0004436425275899175, 'mode_freq_7_4'),
 (0.00044265585173513167, 'work_distance_26'),
 (0.00043361006822909947, 'school_distance_19'),
 (0.0004242261307599313, 'work_mode_8'),
 (0.00042168017547935713, 'school_distance_6'),
 (0.00041234286000050793, 'school_mode_2'),
 (0.0004016852456738642, 'mode_freq_5_2'),
 (0.00040161244299315244, 'school_mode_17'),
 (0.0003913859876085349, 'work_distance_100'),
 (0.0003768323376577112, 'school_distance_10'),
 (0.00036578142172179336, 'hsa_distance_1_1_x_13'),
 (0.00036397178543296833, 'mode_freq_1_4'),
 (0.0003445743184679755, 'hsa_distance_1_1_x_1'),
 (0.0003423852641013182, 'mode_freq_4_4'),
 (0.0003400055377134124, 'work_distance_0.1'),
 (0.0003255657327217295, 'hsa_distance_1_2_x_12'),
 (0.0003129108652148764, 'work_distance_48'),
 (0.00031181290581919896, 'purchase_timing_5'),
 (0.0003059050712518694, 'school_distance_0'),
 (0.00030473703760797177, 'work_distance_23'),
 (0.00029141280149682915, 'mode_freq_1_3'),
 (0.0002905624684573305, 'hsa_distance_1_1_x_22'),
 (0.0002815262174594865, 'mode_freq_12_3'),
 (0.00027813948979157535, 'work_distance_21'),
 (0.00027075201367073357, 'work_distance_9.3'),
 (0.000253640571602471, 'school_distance_35'),
 (0.0002408604853808519, 'mode_freq_4_3'),
 (0.0002345828136437742, 'school_mode_3'),
 (0.00022790631433744038, 'work_mode_6'),
 (0.00022097567011911741, 'work_distance_0.25'),
 (0.00021685062022285966, 'school_distance_20'),
 (0.00020525163042339794, 'work_distance_4.5'),
 (0.00018988344236579995, 'hsa_distance_1_2_x_120'),
 (0.00018941509049527695, 'work_distance_72'),
 (0.00018818470604439397, 'work_distance_1.5'),
 (0.0001878356676325041, 'hsa_distance_1_1_x_21'),
 (0.00018697181097696936, 'school_distance_9'),
 (0.0001765123978846958, 'work_distance_60'),
 (0.0001714953056951521, 'work_distance_37'),
 (0.0001597736357656468, 'work_distance_36'),
 (0.0001573354154426549, 'next_purchase_6'),
 (0.00015593551267901115, 'work_distance_70'),
 (0.00015458536428333383, 'mode_freq_8_4'),
 (0.00015280039273819266, 'work_distance_55'),
 (0.00015078362657661363, 'work_distance_43'),
 (0.00014907416419119362, 'school_distance_8'),
 (0.00014866283107785476, 'work_mode_16'),
 (0.00014218062082123014, 'work_distance_200'),
 (0.00013868308339494878, 'work_mode_13'),
 (0.0001372779980038586, 'school_distance_4'),
 (0.00013480441918963188, 'school_mode_7'),
 (0.0001317070293327147, 'work_distance_42'),
 (0.00012990726430159782, 'work_mode_9'),
 (0.00012414198303285448, 'work_distance_150'),
 (0.00011766363184003201, 'hsa_distance_1_1_x_18'),
 (0.00011623300887173375, 'work_distance_19'),
 (0.00011551250458123723, 'school_mode_10'),
 (0.00011273348192262071, 'school_mode_6'),
 (0.00010769504660920042, 'school_distance_25'),
 (0.00010562662915743433, 'work_distance_90'),
 (0.00010155787004269604, 'hsa_distance_1_2_x_35'),
 (9.693136853045626e-05, 'school_distance_200'),
 (8.920379005684234e-05, 'school_distance_33'),
 (8.848904906695713e-05, 'school_mode_13'),
 (8.002438164851408e-05, 'mode_freq_5_4'),
 (7.530885791461477e-05, 'mode_freq_12_2'),
 (7.491167023628408e-05, 'school_distance_12'),
 (6.846003142992719e-05, 'work_distance_0.5'),
 (6.202231699270969e-05, 'work_distance_88'),
 (6.149105136727533e-05, 'work_mode_14'),
 (5.979297650970551e-05, 'mode_freq_6_4'),
 (5.944931718116255e-05, 'school_distance_11'),
 (5.8500879534251114e-05, 'work_distance_58'),
 (5.298862349847846e-05, 'work_distance_33'),
 (4.4131142545908984e-05, 'work_distance_28'),
 (3.723594586041216e-05, 'work_distance_75'),
 (3.603566117052221e-05, 'school_distance_2.8'),
 (3.6013576437707885e-05, 'school_distance_75'),
 (3.446428098431358e-05, 'hsa_distance_1_1_x_9'),
 (3.426367995459689e-05, 'work_distance_46'),
 (3.173933781656734e-05, 'mode_freq_10_4'),
 (2.8817766983745187e-05, 'mode_freq_11_4'),
 (2.868083287491949e-05, 'school_mode_5'),
 (2.652567204644328e-05, 'next_purchase_5'),
 (2.6411772327777885e-05, 'next_purchase_8'),
 (2.2429105133160514e-05, 'work_distance_2.5'),
 (2.1723057365382432e-05, 'hsa_distance_1_1_x_11'),
 (2.0711355729857486e-05, 'hsa_distance_1_1_x_80'),
 (2.016252248320081e-05, 'work_distance_24'),
 (1.96824586490259e-05, 'hsa_distance_1_1_x_200'),
 (1.961061443330495e-05, 'school_distance_18'),
 (1.866614631647507e-05, 'work_distance_6.5'),
 (1.8304601767502256e-05, 'school_distance_3'),
 (1.4377661243933869e-05, 'housing_1_8_x_ '),
 (1.3949894340480797e-05, 'work_distance_110'),
 (1.251975396929708e-05, 'work_distance_27'),
 (1.2035095448873458e-05, 'mode_freq_10_3'),
 (1.1509829785779298e-05, 'hsa_distance_1_1_x_56'),
 (1.073683911185953e-05, 'work_distance_8.8'),
 (1.040200098360284e-05, 'school_distance_120'),
 (9.95754612268363e-06, 'hsa_distance_1_1_x_16'),
 (9.788716086611743e-06, 'work_distance_1.2'),
 (9.738277005660838e-06, 'work_mode_15'),
 (8.59557280531956e-06, 'hsa_distance_1_2_x_40'),
 (8.297726414308458e-06, 'school_distance_45'),
 (8.163338172646981e-06, 'hsa_distance_1_1_x_5553'),
 (7.712000133361678e-06, 'school_distance_50'),
 (7.66405620457235e-06, 'mode_freq_9_3'),
 (7.359109074612106e-06, 'hsa_distance_1_1_x_250'),
 (7.1848524970409595e-06, 'mode_freq_9_4'),
 (7.015321914621584e-06, 'hsa_distance_1_2_x_3'),
 (6.747508722271484e-06, 'hsa_distance_1_1_x_1111'),
 (6.515969334592551e-06, 'work_distance_76'),
 (6.215749334036091e-06, 'work_distance_1.4'),
 (6.157084797757881e-06, 'hsa_distance_1_1_x_40'),
 (5.062912378491992e-06, 'hsa_distance_1_1_x_10000'),
 (4.874793013157594e-06, 'hsa_distance_1_2_x_7'),
 (4.834913860858556e-06, 'school_distance_13'),
 (3.2509023369125976e-06, 'work_distance_7.5'),
 (3.1603762241917577e-06, 'work_distance_0.3'),
 (2.9213994854540764e-06, 'hsa_distance_1_1_x_19'),
 (2.7466376817782313e-06, 'work_distance_6.4'),
 (2.5556881572652285e-06, 'work_distance_65'),
 (2.498277216782576e-06, 'hsa_distance_1_2_x_45'),
 (2.2979082454276117e-06, 'work_distance_3.5'),
 (2.1071434795704064e-06, 'school_distance_100'),
 (1.678882504704818e-06, 'work_distance_9.4'),
 (1.2736845537222846e-06, 'hsa_distance_1_1_x_5000'),
 (9.53609498780567e-07, 'hsa_distance_1_2_x_23'),
 (8.646328981635951e-07, 'school_distance_0.5'),
 (8.526664990832616e-07, 'hsa_distance_1_1_x_70'),
 (6.14095491432392e-07, 'school_distance_14'),
 (5.496125900783838e-07, 'school_distance_17'),
 (4.800366875960868e-07, 'hsa_distance_1_2_x_4'),
 (4.024185686573068e-07, 'hsa_distance_1_1_x_180'),
 (3.9933855787020865e-07, 'work_distance_8.4'),
 (3.504128197515937e-07, 'hsa_distance_1_1_x_17'),
 (2.996490191266813e-07, 'work_distance_2.1'),
 (2.678951091314569e-07, 'housing_1_8_x_Studio adjacent to main house'),
 (1.9444037102663395e-07, 'work_distance_29'),
 (1.7839130540485792e-07, 'school_mode_15'),
 (4.855598548264765e-08, 'work_distance_52'),
 (3.8028371366153315e-08, 'school_distance_0.25'),
 (2.509708594699085e-08, 'work_distance_8.5'),
 (2.4481566354322158e-08, 'hsa_distance_1_1_x_15000'),
 (0.0, 'work_mode_7'),
 (0.0, 'work_distance_98'),
 (0.0, 'work_distance_9.5'),
 (0.0, 'work_distance_85'),
 (0.0, 'work_distance_7.3'),
 (0.0, 'work_distance_68'),
 (0.0, 'work_distance_63'),
 (0.0, 'work_distance_6.7'),
 (0.0, 'work_distance_6.6'),
 (0.0, 'work_distance_6.2'),
 (0.0, 'work_distance_5.7'),
 (0.0, 'work_distance_5.4'),
 (0.0, 'work_distance_5.3'),
 (0.0, 'work_distance_47'),
 (0.0, 'work_distance_44'),
 (0.0, 'work_distance_41'),
 (0.0, 'work_distance_4.4'),
 (0.0, 'work_distance_39.2'),
 (0.0, 'work_distance_39'),
 (0.0, 'work_distance_38'),
 (0.0, 'work_distance_34'),
 (0.0, 'work_distance_3.4'),
 (0.0, 'work_distance_3.25'),
 (0.0, 'work_distance_3.1'),
 (0.0, 'work_distance_24.5'),
 (0.0, 'work_distance_22.5'),
 (0.0, 'work_distance_20.3'),
 (0.0, 'work_distance_2.7'),
 (0.0, 'work_distance_2.6'),
 (0.0, 'work_distance_2.3'),
 (0.0, 'work_distance_166'),
 (0.0, 'work_distance_16.8'),
 (0.0, 'work_distance_155'),
 (0.0, 'work_distance_14.9'),
 (0.0, 'work_distance_130'),
 (0.0, 'work_distance_13.5'),
 (0.0, 'work_distance_125'),
 (0.0, 'work_distance_1.9'),
 (0.0, 'work_distance_1.8'),
 (0.0, 'school_mode_8'),
 (0.0, 'school_distance_9.2'),
 (0.0, 'school_distance_85'),
 (0.0, 'school_distance_82'),
 (0.0, 'school_distance_63'),
 (0.0, 'school_distance_55'),
 (0.0, 'school_distance_54'),
 (0.0, 'school_distance_5.3'),
 (0.0, 'school_distance_5.2'),
 (0.0, 'school_distance_42'),
 (0.0, 'school_distance_40'),
 (0.0, 'school_distance_32'),
 (0.0, 'school_distance_3.9'),
 (0.0, 'school_distance_3.5'),
 (0.0, 'school_distance_24'),
 (0.0, 'school_distance_22'),
 (0.0, 'school_distance_21'),
 (0.0, 'school_distance_2.5'),
 (0.0, 'school_distance_2.3'),
 (0.0, 'school_distance_16'),
 (0.0, 'school_distance_121'),
 (0.0, 'school_distance_1.8'),
 (0.0, 'school_distance_1.5'),
 (0.0, 'school_distance_0.2'),
 (0.0, 'mode_freq_12_4'),
 (0.0, 'hsa_distance_1_2_x_8'),
 (0.0, 'hsa_distance_1_2_x_50'),
 (0.0, 'hsa_distance_1_2_x_300'),
 (0.0, 'hsa_distance_1_2_x_2'),
 (0.0, 'hsa_distance_1_2_x_150'),
 (0.0, 'hsa_distance_1_2_x_14'),
 (0.0, 'hsa_distance_1_2_x_0'),
 (0.0, 'hsa_distance_1_1_x_500'),
 (0.0, 'hsa_distance_1_1_x_45'),
 (0.0, 'hsa_distance_1_1_x_300'),
 (0.0, 'hsa_distance_1_1_x_222'),
 (0.0, 'hsa_distance_1_1_x_220'),
 (0.0, 'hsa_distance_1_1_x_14'),
 (0.0, 'hsa_distance_1_1_x_130'),
 (0.0, 'hsa_distance_1_1_x_120'),
 (0.0, 'hsa_distance_1_1_x_110'),
 (0.0, 'hsa_distance_1_1_x_100'),
 (0.0, 'hsa_distance_1_1_x_0'),
 (0.0, 'housing_1_8_x_manufactured sfr'),
 (0.0, 'housing_1_8_x_guest house'),
 (0.0, 'housing_1_8_x_granny flat'),
 (0.0, 'housing_1_8_x_family home'),
 (0.0, 'housing_1_8_x_extra room'),
 (0.0, 'housing_1_8_x_casa'),
 (0.0, 'housing_1_8_x_attached single family house'),
 (0.0, 'housing_1_8_x_apartment above a family house'),
 (0.0,
  'housing_1_8_x_Single fam not spray painted strongly disagree on the front door'),
 (0.0, 'housing_1_8_x_Ranch style off grid on 9 acres'),
 (0.0, 'housing_1_8_x_Homeless'),
 (0.0, 'housing_1_8_x_Floating Home'),
 (0.0, 'housing_1_8_x_Condominium'),
 (0.0, 'housing_1_8_x_CASA REGULAR'),
 (0.0, 'housing_1_8_x_Building with 190 apartments'),
 (0.0, 'housing_1_8_x_Apartment above a garage'),