In [17]:
import pandas as pd
from configparser import ConfigParser
import psycopg2
import pandas.io.sql as sqlio
from sqlalchemy import create_engine
import numpy as np
import matplotlib.pyplot as plt
from sklearn import tree
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [2]:
from config import password

param_dic={
    "host": "localhost",
    "database": "Energy_Analysis",
    "user" : "postgres",
    "password" : "AngieDB374!"
}

def connect(params_dic):
    """ Connect to the PostgreSQL database server """
    conn = None
    try:
        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(**params_dic)
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        sys.exit(1) 
    print("Connection successful")
    return conn

conn = connect(param_dic)

Connecting to the PostgreSQL database...
Connection successful

In [3]:
query="select * from ml_input"

ml_input_df=sqlio.read_sql_query(query,conn)

ml_input_df.head()

,sampno,gender,employment,student,education,drive_freq,transit_freq,tnc_freq,job_type,work_mode,...,autonomous_hhveh,autonomous_rideshare,autonomous_pooled,autonomous_pref,housing,housing_1_8_x,solar,solar_future,income,ev_flag
0,190001,1,4,4,6,3,0,0,,,...,2,2,1,1,2,,2,2,6,0
1,190003,2,4,4,8,1,0,0,,,...,3,1,4,1,1,,2,2,5,0
2,190003,2,4,4,8,1,0,0,,,...,3,1,4,1,1,,2,2,5,0
3,190005,1,4,4,6,2,0,0,,,...,2,2,3,2,1,,2,2,7,0
4,190005,1,4,4,6,2,0,0,,,...,2,2,3,2,1,,2,2,7,0

In [4]:
ml_input_df.select_dtypes(exclude='int64').columns

Index(['drive_freq', 'job_type', 'work_mode', 'work_distance', 'work_days',
       'school_mode', 'school_distance', 'hybrid_experience', 'past_hybrid',
       'phev_experience', 'past_phev', 'bev_experience', 'past_bev',
       'fcv_experience', 'past_fcv', 'charge_spots', 'charge_work',
       'home_parking_1', 'home_parking_2', 'home_parking_3', 'home_parking_4',
       'home_parking_5', 'home_parking_6', 'home_parking_7', 'home_parking_8',
       'home_parking_9', 'home_parking_8_x', 'home_electricity_access',
       'hsa_distance_1_1_x', 'hsa_distance_1_2_x', 'future_purchase',
       'next_purchase', 'purchase_timing', 'mode_freq_1', 'mode_freq_2',
       'mode_freq_3', 'mode_freq_4', 'mode_freq_5', 'mode_freq_6',
       'mode_freq_7', 'mode_freq_8', 'mode_freq_9', 'mode_freq_10',
       'mode_freq_11', 'mode_freq_12', 'autonomous_rideshare', 'housing_1_8_x',
       'solar_future'],
      dtype='object')

In [5]:
# ml_input_df.columns

## Clean Data

## Split Data into Training and Testing

In [6]:
# check the datatypes
ml_input_df.dtypes

sampno            int64
gender            int64
employment        int64
student           int64
education         int64
                  ...
housing_1_8_x    object
solar             int64
solar_future     object
income            int64
ev_flag           int64
Length: 95, dtype: object

In [7]:
# Generate our categorical variable lists
ml_input_categorical = ml_input_df.dtypes[ml_input_df.dtypes == "object"].index.tolist()
ml_input_categorical

['drive_freq',
 'job_type',
 'work_mode',
 'work_distance',
 'work_days',
 'school_mode',
 'school_distance',
 'hybrid_experience',
 'past_hybrid',
 'phev_experience',
 'past_phev',
 'bev_experience',
 'past_bev',
 'fcv_experience',
 'past_fcv',
 'charge_spots',
 'charge_work',
 'home_parking_1',
 'home_parking_2',
 'home_parking_3',
 'home_parking_4',
 'home_parking_5',
 'home_parking_6',
 'home_parking_7',
 'home_parking_8',
 'home_parking_9',
 'home_parking_8_x',
 'home_electricity_access',
 'hsa_distance_1_1_x',
 'hsa_distance_1_2_x',
 'future_purchase',
 'next_purchase',
 'purchase_timing',
 'mode_freq_1',
 'mode_freq_2',
 'mode_freq_3',
 'mode_freq_4',
 'mode_freq_5',
 'mode_freq_6',
 'mode_freq_7',
 'mode_freq_8',
 'mode_freq_9',
 'mode_freq_10',
 'mode_freq_11',
 'mode_freq_12',
 'autonomous_rideshare',
 'housing_1_8_x',
 'solar_future']

In [8]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(ml_input_df[ml_input_categorical]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(ml_input_categorical)
encode_df.head()

,drive_freq_,drive_freq_1,drive_freq_2,drive_freq_3,drive_freq_4,job_type_,job_type_1,job_type_2,job_type_3,job_type_4,...,housing_1_8_x_attached single family house,housing_1_8_x_casa,housing_1_8_x_extra room,housing_1_8_x_family home,housing_1_8_x_granny flat,housing_1_8_x_guest house,housing_1_8_x_manufactured sfr,solar_future_,solar_future_1,solar_future_2
0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [9]:
# Merge one-hot encoded features and drop the originals
ml_input_final = ml_input_df.merge(encode_df,left_index=True,right_index=True).drop(ml_input_categorical,1)
ml_input_final

,sampno,gender,employment,student,education,transit_freq,tnc_freq,age_grp,california,county,...,housing_1_8_x_attached single family house,housing_1_8_x_casa,housing_1_8_x_extra room,housing_1_8_x_family home,housing_1_8_x_granny flat,housing_1_8_x_guest house,housing_1_8_x_manufactured sfr,solar_future_,solar_future_1,solar_future_2
0,190001,1,4,4,6,0,0,4,1,38,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,190003,2,4,4,8,0,0,4,1,30,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,190003,2,4,4,8,0,0,4,1,30,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,190005,1,4,4,6,0,0,4,1,7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,190005,1,4,4,6,0,0,4,1,7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17835,190803,2,1,4,8,0,0,2,1,19,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
17836,190803,2,1,4,8,0,0,2,1,19,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
17837,190803,2,1,4,8,0,0,2,1,19,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
17838,190806,1,1,4,2,0,0,2,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
17839,190806,2,4,4,2,0,0,2,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

## Build our Model

### Predict EV Ownership Based on Personal Demographics

In [10]:
# Split our preprocessed data into our features and target arrays
X=ml_input_final.drop(columns='ev_flag', axis='columns')
y=ml_input_final['ev_flag']

In [11]:
print(X.shape)

(17840, 558)

In [12]:
X[:10]

,sampno,gender,employment,student,education,transit_freq,tnc_freq,age_grp,california,county,...,housing_1_8_x_attached single family house,housing_1_8_x_casa,housing_1_8_x_extra room,housing_1_8_x_family home,housing_1_8_x_granny flat,housing_1_8_x_guest house,housing_1_8_x_manufactured sfr,solar_future_,solar_future_1,solar_future_2
0,190001,1,4,4,6,0,0,4,1,38,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,190003,2,4,4,8,0,0,4,1,30,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,190003,2,4,4,8,0,0,4,1,30,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,190005,1,4,4,6,0,0,4,1,7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,190005,1,4,4,6,0,0,4,1,7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5,190005,2,4,4,6,0,0,4,1,7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
6,190005,2,4,4,6,0,0,4,1,7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
7,190004,2,4,1,4,0,2,2,1,19,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
8,190004,1,1,4,3,0,0,2,1,19,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
9,190004,2,4,4,1,1,0,2,1,19,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [13]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=1)

In [14]:
# Determine the shape of our training and testing sets.
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(13380, 558)
(4460, 558)
(13380,)
(4460,)

In [15]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

### Decision Tree Model

#### Fit the Decision Tree Model

In [18]:
# Creating the decision tree classifier instance.
model = tree.DecisionTreeClassifier()
# Fitting the model.
model = model.fit(X_train_scaled, y_train)

#### Make Predictions with the Decision Tree Model

In [19]:
# Making predictions using the testing data.
predictions = model.predict(X_test_scaled)

#### Evaluate the Model

In [20]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0         3989          137
Actual 1          252           82

In [22]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)
acc_score

0.912780269058296

In [23]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0         3989          137
Actual 1          252           82

Accuracy Score : 0.912780269058296
Classification Report
              precision    recall  f1-score   support

           0       0.94      0.97      0.95      4126
           1       0.37      0.25      0.30       334

    accuracy                           0.91      4460
   macro avg       0.66      0.61      0.63      4460
weighted avg       0.90      0.91      0.90      4460

### Random Forest Model

#### Fit the Random Forest Model

In [24]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

In [25]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

#### Make Predictions Random Forest Model

In [26]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)

#### Evaluate the Accuracy

In [35]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0         3943          183
Actual 1          232          102

In [36]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)
acc_score

0.9069506726457399

In [37]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0         3943          183
Actual 1          232          102

Accuracy Score : 0.9069506726457399
Classification Report
              precision    recall  f1-score   support

           0       0.94      0.96      0.95      4126
           1       0.36      0.31      0.33       334

    accuracy                           0.91      4460
   macro avg       0.65      0.63      0.64      4460
weighted avg       0.90      0.91      0.90      4460

#### Rank the Importance of Features

In [31]:
# Calculate feature importance in the Random Forest model.
importances = rf_model.feature_importances_
importances

array([1.53038117e-02, 1.72252743e-02, 7.42199064e-03, 2.36154189e-03,
       1.69484124e-02, 4.23789397e-03, 4.13196616e-03, 3.04377731e-03,
       0.00000000e+00, 8.23779616e-03, 5.18656090e-03, 5.50303062e-03,
       1.73441184e-02, 1.84045626e-03, 2.47239453e-03, 2.11237406e-03,
       7.33457258e-03, 6.01498706e-03, 3.47570330e-03, 4.27046589e-03,
       2.99576485e-03, 4.02536694e-03, 3.70083733e-03, 2.85384719e-03,
       3.35050246e-03, 3.22813729e-03, 4.40078018e-03, 3.79016252e-03,
       4.45058738e-03, 4.13768058e-03, 4.26959348e-03, 4.66825808e-03,
       4.59178838e-03, 4.61301434e-03, 4.53493253e-03, 4.84824107e-03,
       4.63488514e-03, 1.95909160e-03, 5.18083730e-03, 4.59794150e-03,
       4.15108631e-03, 5.09784548e-03, 4.55072675e-03, 3.95311227e-03,
       3.28957705e-03, 7.30760402e-03, 1.82667676e-03, 5.66227373e-03,
       5.04313074e-03, 1.22117449e-03, 5.74860442e-04, 3.36599174e-03,
       4.34735918e-03, 2.61512226e-03, 2.42017627e-03, 7.40214976e-04,
       3.34770793e-03, 4.10682484e-03, 3.94221191e-04, 2.33908286e-04,
       1.50293929e-04, 3.17807923e-05, 0.00000000e+00, 3.09461473e-05,
       4.33416384e-04, 9.04245662e-04, 5.06827931e-04, 3.91331708e-04,
       4.57040189e-04, 7.64053295e-06, 0.00000000e+00, 1.55964360e-04,
       2.82381790e-05, 3.39141584e-03, 4.65898015e-04, 2.26118881e-05,
       7.61086052e-05, 0.00000000e+00, 3.97066311e-05, 6.76758283e-04,
       0.00000000e+00, 0.00000000e+00, 8.25849096e-05, 0.00000000e+00,
       0.00000000e+00, 2.27773003e-03, 9.06508701e-05, 3.05117863e-04,
       3.63679334e-05, 1.26843718e-03, 0.00000000e+00, 6.29607310e-04,
       0.00000000e+00, 0.00000000e+00, 5.30550957e-04, 0.00000000e+00,
       2.20906749e-03, 8.54096130e-05, 0.00000000e+00, 5.08527786e-04,
       0.00000000e+00, 0.00000000e+00, 4.17717998e-04, 5.80536728e-04,
       9.51821431e-05, 1.21019122e-03, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 1.25799875e-03,
       0.00000000e+00, 1.70349360e-05, 5.36078494e-05, 5.36789275e-04,
       0.00000000e+00, 2.32613953e-04, 1.54974433e-05, 0.00000000e+00,
       1.19398764e-03, 1.72995810e-04, 0.00000000e+00, 7.91361713e-05,
       0.00000000e+00, 1.09854363e-03, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 1.35293732e-03, 1.87666726e-04,
       4.98461038e-04, 4.73606772e-05, 0.00000000e+00, 5.74415686e-04,
       1.34443629e-04, 1.03357772e-04, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 1.01654728e-03, 0.00000000e+00, 3.82983136e-05,
       1.03873211e-03, 0.00000000e+00, 8.20608293e-05, 8.95903095e-05,
       0.00000000e+00, 3.83997014e-04, 1.10284797e-04, 0.00000000e+00,
       3.11015702e-05, 1.90294499e-03, 0.00000000e+00, 0.00000000e+00,
       3.19975252e-05, 0.00000000e+00, 4.15764892e-04, 0.00000000e+00,
       1.43627856e-04, 5.44901208e-05, 2.47321248e-04, 0.00000000e+00,
       1.08156922e-03, 0.00000000e+00, 0.00000000e+00, 3.53293229e-05,
       0.00000000e+00, 0.00000000e+00, 5.64522201e-05, 1.31790358e-04,
       0.00000000e+00, 3.11563596e-05, 0.00000000e+00, 0.00000000e+00,
       1.05321641e-03, 0.00000000e+00, 0.00000000e+00, 3.56602489e-05,
       6.98006295e-05, 1.06554917e-04, 0.00000000e+00, 2.16613870e-03,
       4.30953821e-05, 0.00000000e+00, 7.23416305e-05, 1.98442423e-04,
       0.00000000e+00, 3.63550657e-05, 4.00575495e-04, 8.31257714e-06,
       0.00000000e+00, 0.00000000e+00, 5.00466657e-05, 0.00000000e+00,
       3.75497910e-03, 1.04625076e-04, 1.13851079e-03, 1.13828037e-03,
       1.76357541e-03, 2.03806243e-03, 4.69053793e-03, 1.00473489e-03,
       2.75343235e-04, 1.59329256e-03, 1.38943997e-03, 3.55570728e-05,
       3.67418896e-05, 0.00000000e+00, 1.56440805e-04, 4.24010298e-04,
       2.04746354e-04, 1.77797243e-04, 8.26906828e-06, 3.50550104e-05,
       2.72856202e-05, 0.00000000e+00, 1.77784028e-03, 1.98559404e-04,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 3.88664744e-04,
       0.00000000e+00, 0.00000000e+00, 1.97901762e-04, 0.00000000e+00,
       3.90854788e-05, 7.54216378e-05, 5.26816115e-05, 0.00000000e+00,
       0.00000000e+00, 8.57203050e-06, 3.84842995e-04, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 2.52131248e-05, 2.49843061e-04,
       0.00000000e+00, 0.00000000e+00, 3.76852697e-05, 1.79229033e-04,
       3.21509053e-05, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       8.33188253e-05, 2.97193063e-07, 0.00000000e+00, 0.00000000e+00,
       8.40377455e-05, 0.00000000e+00, 5.10094557e-05, 4.31552971e-05,
       6.75544142e-05, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       2.84929047e-04, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 3.42545312e-04, 7.17561421e-05,
       0.00000000e+00, 2.09478290e-04, 8.91974172e-05, 1.28021012e-04,
       0.00000000e+00, 0.00000000e+00, 7.76597193e-05, 0.00000000e+00,
       2.93609206e-03, 3.94010455e-03, 2.19377472e-03, 2.42214610e-03,
       1.58680199e-03, 1.51151046e-03, 1.06478568e-03, 7.07379799e-04,
       1.60899279e-03, 6.50774863e-03, 1.20441391e-03, 1.26267750e-02,
       9.57353528e-03, 7.05214787e-04, 1.20026462e-03, 1.17834991e-03,
       1.19627914e-03, 3.36028684e-03, 1.62684749e-02, 5.49205706e-04,
       4.11416026e-03, 8.93035840e-03, 9.71994079e-04, 1.20278761e-03,
       8.70674277e-04, 7.27995800e-04, 2.09271276e-03, 2.17761747e-03,
       5.81251434e-04, 1.70642647e-03, 1.67958535e-03, 7.53721197e-04,
       3.20740181e-04, 1.98470202e-03, 1.59217125e-03, 2.35287890e-03,
       5.64814978e-02, 6.37238337e-05, 1.20945478e-04, 1.16132280e-03,
       1.42363068e-03, 0.00000000e+00, 2.12652281e-03, 1.83702672e-04,
       7.84709737e-04, 2.29451997e-06, 2.53023451e-02, 2.16754408e-03,
       3.08680905e-03, 3.65362819e-02, 1.25597843e-02, 4.32349279e-04,
       2.24450581e-02, 2.12834842e-02, 1.84798342e-03, 3.00048563e-02,
       2.09873415e-03, 1.15261119e-03, 4.59663488e-02, 6.17024807e-03,
       3.45578205e-03, 1.93835900e-02, 1.00500593e-02, 5.18435141e-04,
       1.81474630e-02, 2.03230693e-02, 0.00000000e+00, 2.99239217e-02,
       3.06722924e-02, 0.00000000e+00, 3.19319420e-02, 1.88473814e-02,
       0.00000000e+00, 1.52505706e-04, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 1.58430931e-02,
       2.30555900e-03, 2.31001789e-04, 0.00000000e+00, 3.28264870e-05,
       3.10767799e-04, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 2.16584044e-03, 0.00000000e+00, 9.61590780e-05,
       7.71788186e-04, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 5.78501441e-04, 0.00000000e+00,
       7.84998577e-05, 0.00000000e+00, 0.00000000e+00, 3.03642107e-04,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 2.14560787e-04, 2.53571206e-04,
       0.00000000e+00, 6.14318069e-05, 1.11959820e-04, 0.00000000e+00,
       0.00000000e+00, 1.35576348e-04, 0.00000000e+00, 2.80139845e-04,
       8.98478873e-05, 0.00000000e+00, 2.47851411e-04, 4.30307045e-04,
       0.00000000e+00, 0.00000000e+00, 4.97800318e-04, 1.87571545e-04,
       0.00000000e+00, 0.00000000e+00, 4.12774186e-04, 0.00000000e+00,
       0.00000000e+00, 3.70146329e-04, 5.95699450e-05, 9.76641786e-04,
       0.00000000e+00, 2.50151400e-04, 0.00000000e+00, 0.00000000e+00,
       1.25658848e-03, 0.00000000e+00, 8.40887067e-05, 2.43784503e-04,
       2.85809974e-05, 4.95990137e-05, 0.00000000e+00, 3.80107940e-04,
       0.00000000e+00, 0.00000000e+00, 3.69177076e-04, 0.00000000e+00,
       2.30004387e-04, 0.00000000e+00, 1.49050126e-04, 0.00000000e+00,
       7.12041805e-05, 0.00000000e+00, 5.48408839e-05, 0.00000000e+00,
       9.61456405e-05, 0.00000000e+00, 2.45164357e-04, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 2.79855510e-03, 7.10626937e-04,
       2.41413755e-03, 1.67024729e-03, 9.90366593e-04, 0.00000000e+00,
       7.30367811e-04, 3.50117197e-04, 1.24539945e-03, 1.21358182e-03,
       5.63757035e-04, 5.30878398e-04, 7.23102394e-04, 2.91755863e-04,
       1.86218539e-04, 3.96394616e-04, 1.93478965e-04, 1.33855172e-04,
       1.00769699e-04, 2.90208183e-05, 1.53631208e-03, 1.00273669e-03,
       6.81549337e-04, 1.72187974e-04, 3.17026470e-04, 1.52250497e-03,
       1.56025357e-03, 8.79230758e-04, 3.98219466e-04, 6.40644074e-04,
       1.43899761e-03, 1.20655073e-03, 2.07176838e-04, 1.68671526e-04,
       1.82523391e-04, 1.24026398e-03, 1.47076416e-03, 4.84379087e-05,
       2.62812563e-04, 2.61253735e-05, 2.11775421e-03, 1.91458222e-03,
       4.86556473e-04, 1.03891406e-04, 0.00000000e+00, 2.51351116e-03,
       2.36506682e-03, 2.17063568e-03, 5.63870502e-04, 8.32918930e-05,
       2.02443101e-03, 1.59641928e-03, 1.17912597e-03, 6.89287880e-04,
       6.54877804e-05, 5.50097410e-04, 3.73415982e-04, 1.31763525e-04,
       0.00000000e+00, 0.00000000e+00, 5.66627793e-04, 2.88818057e-04,
       1.40613557e-04, 0.00000000e+00, 4.42260911e-05, 9.02080643e-04,
       7.15250159e-04, 4.38969326e-04, 1.11599331e-04, 0.00000000e+00,
       2.84690566e-04, 1.89941416e-04, 0.00000000e+00, 1.32115885e-05,
       0.00000000e+00, 1.81187273e-03, 2.58933291e-03, 1.99579832e-03,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 2.72789572e-03,
       1.76929364e-03, 2.93264730e-03])

In [32]:
# We can sort the features by their importance.
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.05648149779611265, 'charge_spots_ '),
 (0.04596634881376079, 'home_parking_5_ '),
 (0.03653628188820696, 'home_parking_2_ '),
 (0.03193194202717949, 'home_parking_9_ '),
 (0.03067229241696548, 'home_parking_8_0'),
 (0.030004856253298, 'home_parking_4_ '),
 (0.029923921714037557, 'home_parking_8_ '),
 (0.025302345115768534, 'home_parking_1_ '),
 (0.022445058053730788, 'home_parking_3_ '),
 (0.02128348417424149, 'home_parking_3_0'),
 (0.020323069327305907, 'home_parking_7_0'),
 (0.019383589990842134, 'home_parking_6_ '),
 (0.018847381364838257, 'home_parking_9_0'),
 (0.018147463040477485, 'home_parking_7_ '),
 (0.01734411841351623, 'num_hh_vehicles'),
 (0.017225274272103637, 'gender'),
 (0.016948412441148055, 'education'),
 (0.01626847487809799, 'bev_experience_ '),
 (0.015843093067939233, 'home_electricity_access_ '),
 (0.015303811684654155, 'sampno'),
 (0.012626774953283734, 'phev_experience_2'),
 (0.012559784346439227, 'home_parking_2_0'),
 (0.010050059327967945, 'home_parking_6_0'),
 (0.009573535281699798, 'past_phev_ '),
 (0.008930358403313998, 'past_bev_ '),
 (0.008237796160537207, 'county'),
 (0.007421990636877041, 'employment'),
 (0.007334572575706616, 'household_members_4'),
 (0.007307604017044675, 'income'),
 (0.0065077486292519585, 'phev_experience_ '),
 (0.006170248066345717, 'home_parking_5_0'),
 (0.006014987060221036, 'tot_hh_members'),
 (0.005662273729682532, 'drive_freq_1'),
 (0.005503030616982302, 'future_decision_role'),
 (0.00518656089879812, 'region'),
 (0.005180837296584629, 'autonomous_att_7'),
 (0.005097845475605921, 'autonomous_pooled'),
 (0.005043130740297728, 'drive_freq_2'),
 (0.004848241067727041, 'autonomous_att_4'),
 (0.0046905379262836755, 'work_days_5'),
 (0.004668258078524703, 'autonomous_aware'),
 (0.004634885140113065, 'autonomous_att_5'),
 (0.004613014344100099, 'autonomous_att_2'),
 (0.004597941495159384, 'autonomous_att_8'),
 (0.004591788384408739, 'autonomous_att_1'),
 (0.0045507267522872505, 'autonomous_pref'),
 (0.004534932526714663, 'autonomous_att_3'),
 (0.0044505873759273454, 'modes_used_10'),
 (0.004400780183011638, 'modes_used_8'),
 (0.00434735917975466, 'job_type_1'),
 (0.004270465887930141, 'modes_used_1'),
 (0.004269593482197997, 'modes_used_12'),
 (0.004237893968298971, 'transit_freq'),
 (0.004151086314913619, 'autonomous_hhveh'),
 (0.0041376805823137575, 'modes_used_11'),
 (0.004131966155469057, 'tnc_freq'),
 (0.004114160263955124, 'bev_experience_2'),
 (0.004106824836880078, 'work_mode_1'),
 (0.004025366938909293, 'modes_used_3'),
 (0.003953112265640711, 'housing'),
 (0.0039401045459286545, 'hybrid_experience_1'),
 (0.003790162517157331, 'modes_used_9'),
 (0.003754979099238026, 'work_days_ '),
 (0.0037008373300261802, 'modes_used_4'),
 (0.0034757033037709525, 'hydrogen_station_awareness'),
 (0.0034557820546052757, 'home_parking_5_1'),
 (0.0033914158399271314, 'work_distance_ '),
 (0.0033659917401707346, 'job_type_ '),
 (0.0033602868420029826, 'past_phev_5'),
 (0.0033505024585792132, 'modes_used_6'),
 (0.0033477079259932527, 'work_mode_ '),
 (0.003289577051078244, 'solar'),
 (0.003228137289348942, 'modes_used_7'),
 (0.003086809052194486, 'home_parking_1_1'),
 (0.003043777306656159, 'age_grp'),
 (0.0029957648497436107, 'modes_used_2'),
 (0.0029360920587556344, 'hybrid_experience_ '),
 (0.002932647304352569, 'solar_future_2'),
 (0.0028538471917876384, 'modes_used_5'),
 (0.0027985551041780645, 'next_purchase_1'),
 (0.0027278957185646723, 'solar_future_ '),
 (0.0026151222573835365, 'job_type_2'),
 (0.0025893329091401154, 'autonomous_rideshare_2'),
 (0.0025135111557032922, 'mode_freq_7_ '),
 (0.002472394525805136, 'household_members_2'),
 (0.002422146104423595, 'past_hybrid_ '),
 (0.002420176272594814, 'job_type_3'),
 (0.0024141375527421904, 'next_purchase_2'),
 (0.0023650668207932184, 'mode_freq_7_1'),
 (0.002361541886284603, 'student'),
 (0.0023528788981051285, 'past_fcv_5'),
 (0.002305558995850076, 'home_electricity_access_1'),
 (0.0022777300273085018, 'work_distance_10'),
 (0.0022090674869938024, 'work_distance_15'),
 (0.0021937747210638314, 'hybrid_experience_2'),
 (0.0021776174683173885, 'fcv_experience_ '),
 (0.002170635682505542, 'mode_freq_7_2'),
 (0.0021675440826998834, 'home_parking_1_0'),
 (0.0021661386975490144, 'work_distance_8'),
 (0.0021658404360597274, 'hsa_distance_1_1_x_ '),
 (0.002126522809271804, 'charge_work_ '),
 (0.0021177542149836237, 'mode_freq_6_ '),
 (0.002112374058524654, 'household_members_3'),
 (0.0020987341506388873, 'home_parking_4_0'),
 (0.0020927127587793827, 'past_bev_5'),
 (0.0020380624295533185, 'work_days_4'),
 (0.0020244310079077727, 'mode_freq_8_ '),
 (0.0019957983246841576, 'autonomous_rideshare_3'),
 (0.0019847020188065575, 'past_fcv_3'),
 (0.001959091595458379, 'autonomous_att_6'),
 (0.0019145822164535436, 'mode_freq_6_1'),
 (0.0019029449947879193, 'work_distance_5'),
 (0.0018479834177451877, 'home_parking_3_1'),
 (0.001840456257028835, 'household_members_1'),
 (0.0018266767552358994, 'drive_freq_ '),
 (0.0018118727328386517, 'autonomous_rideshare_1'),
 (0.001777840275794372, 'school_distance_ '),
 (0.0017692936402634739, 'solar_future_1'),
 (0.0017635754094404846, 'work_days_3'),
 (0.0017064264716719368, 'fcv_experience_2'),
 (0.0016795853496577675, 'past_fcv_ '),
 (0.0016702472874265456, 'next_purchase_3'),
 (0.0016089927903542684, 'past_hybrid_5'),
 (0.0015964192791455651, 'mode_freq_8_1'),
 (0.0015932925596116984, 'school_mode_ '),
 (0.0015921712462346178, 'past_fcv_4'),
 (0.001586801988609312, 'past_hybrid_1'),
 (0.001560253569185586, 'mode_freq_3_1'),
 (0.0015363120758851642, 'mode_freq_2_ '),
 (0.001522504974866743, 'mode_freq_3_ '),
 (0.0015115104592169767, 'past_hybrid_2'),
 (0.00147076416352699, 'mode_freq_5_1'),
 (0.0014389976099408285, 'mode_freq_4_ '),
 (0.001423630676888293, 'charge_spots_4'),
 (0.0013894399668434242, 'school_mode_1'),
 (0.0013529373166944613, 'work_distance_30'),
 (0.001268437184880099, 'work_distance_12'),
 (0.0012579987503763053, 'work_distance_20'),
 (0.0012565884771943486, 'hsa_distance_1_2_x_ '),
 (0.0012453994497872182, 'next_purchase_9'),
 (0.0012402639767318533, 'mode_freq_5_ '),
 (0.001221174494030441, 'drive_freq_3'),
 (0.0012135818202526636, 'purchase_timing_ '),
 (0.0012101912152740351, 'work_distance_2'),
 (0.0012065507334358746, 'mode_freq_4_1'),
 (0.0012044139128931188, 'phev_experience_1'),
 (0.0012027876077314596, 'past_bev_2'),
 (0.0012002646199941382, 'past_phev_2'),
 (0.0011962791361153594, 'past_phev_4'),
 (0.001193987638789249, 'work_distance_25'),
 (0.001179125971321844, 'mode_freq_8_2'),
 (0.00117834990923016, 'past_phev_3'),
 (0.0011613228022977038, 'charge_spots_3'),
 (0.001152611188377764, 'home_parking_4_1'),
 (0.0011385107904126747, 'work_days_1'),
 (0.0011382803703428829, 'work_days_2'),
 (0.0010985436254689032, 'work_distance_3'),
 (0.0010815692206842648, 'work_distance_6'),
 (0.0010647856840709728, 'past_hybrid_3'),
 (0.0010532164090845781, 'work_distance_7'),
 (0.0010387321127163932, 'work_distance_40'),
 (0.0010165472750634766, 'work_distance_4'),
 (0.0010047348878401022, 'work_days_6'),
 (0.0010027366888654095, 'mode_freq_2_1'),
 (0.0009903665933948948, 'next_purchase_4'),
 (0.000976641786106283, 'hsa_distance_1_1_x_7'),
 (0.0009719940794874729, 'past_bev_1'),
 (0.0009042456622317151, 'work_mode_2'),
 (0.0009020806434569275, 'mode_freq_11_ '),
 (0.0008792307584873151, 'mode_freq_3_2'),
 (0.0008706742770521489, 'past_bev_3'),
 (0.0007847097366752324, 'charge_work_2'),
 (0.0007717881857203659, 'hsa_distance_1_1_x_10'),
 (0.0007537211966514352, 'past_fcv_1'),
 (0.000740214975908933, 'job_type_4'),
 (0.0007303678108361036, 'next_purchase_6'),
 (0.0007279957995334301, 'past_bev_4'),
 (0.0007231023937825671, 'purchase_timing_3'),
 (0.00071525015896465, 'mode_freq_11_1'),
 (0.0007106269374951025, 'next_purchase_10'),
 (0.0007073797989543408, 'past_hybrid_4'),
 (0.0007052147866835735, 'past_phev_1'),
 (0.000689287879986335, 'mode_freq_8_3'),
 (0.0006815493366452421, 'mode_freq_2_2'),
 (0.0006767582828227994, 'work_distance_1'),
 (0.000640644074214333, 'mode_freq_3_4'),
 (0.0006296073101253656, 'work_distance_13'),
 (0.0005812514337816033, 'fcv_experience_1'),
 (0.0005805367278879998, 'work_distance_18'),
 (0.0005785014410805841, 'hsa_distance_1_1_x_12'),
 (0.0005748604423485743, 'drive_freq_4'),
 (0.0005744156861783049, 'work_distance_35'),
 (0.000566627792555803, 'mode_freq_10_ '),
 (0.00056387050246622, 'mode_freq_7_3'),
 (0.0005637570347336115, 'purchase_timing_1'),
 (0.0005500974095015053, 'mode_freq_9_ '),
 (0.0005492057056738521, 'bev_experience_1'),
 (0.0005367892747853894, 'work_distance_22'),
 (0.000530878398313461, 'purchase_timing_2'),
 (0.0005305509569282851, 'work_distance_14'),
 (0.0005184351408478399, 'home_parking_6_1'),
 (0.0005085277858467901, 'work_distance_16'),
 (0.0005068279307266873, 'work_mode_3'),
 (0.0004984610383670159, 'work_distance_32'),
 (0.000497800318244984, 'hsa_distance_1_1_x_5'),
 (0.00048655647267544037, 'mode_freq_6_2'),
 (0.00046589801466122207, 'work_distance_0'),
 (0.00045704018889221825, 'work_mode_5'),
 (0.0004389693258517037, 'mode_freq_11_2'),
 (0.00043341638353783506, 'work_mode_18'),
 (0.00043234927933835193, 'home_parking_2_1'),
 (0.00043030704458271133, 'hsa_distance_1_1_x_4'),
 (0.0004240102979919453, 'school_mode_2'),
 (0.000417717998071548, 'work_distance_17'),
 (0.00041576489161275487, 'work_distance_50'),
 (0.0004127741857660629, 'hsa_distance_1_1_x_55'),
 (0.00040057549468743524, 'work_distance_9'),
 (0.0003982194655026127, 'mode_freq_3_3'),
 (0.0003963946164114449, 'mode_freq_1_ '),
 (0.0003942211908917019, 'work_mode_11'),
 (0.00039133170835026296, 'work_mode_4'),
 (0.0003886647437585584, 'school_distance_1'),
 (0.0003848429953686477, 'school_distance_15'),
 (0.0003839970140815286, 'work_distance_45'),
 (0.00038010793995155666, 'hsa_distance_1_2_x_15'),
 (0.0003734159822851839, 'mode_freq_9_1'),
 (0.0003701463293537851, 'hsa_distance_1_1_x_6'),
 (0.0003691770763728629, 'hsa_distance_1_2_x_20'),
 (0.0003501171972045137, 'next_purchase_8'),
 (0.00034254531222308336, 'school_distance_6'),
 (0.0003207401808276619, 'past_fcv_2'),
 (0.00031702647033008633, 'mode_freq_2_4'),
 (0.00031076779869477426, 'home_electricity_access_4'),
 (0.00030511786265390847, 'work_distance_11'),
 (0.0003036421070548118, 'hsa_distance_1_1_x_15'),
 (0.00029175586295414883, 'purchase_timing_4'),
 (0.0002888180567417665, 'mode_freq_10_1'),
 (0.00028492904720124775, 'school_distance_5'),
 (0.0002846905659271524, 'mode_freq_12_ '),
 (0.00028013984513627785, 'hsa_distance_1_1_x_3'),
 (0.0002753432351089336, 'work_days_7'),
 (0.0002628125632405975, 'mode_freq_5_3'),
 (0.0002535712057884114, 'hsa_distance_1_1_x_20'),
 (0.0002501514004101306, 'hsa_distance_1_1_x_8'),
 (0.0002498430609591841, 'school_distance_2'),
 (0.0002478514113406075, 'hsa_distance_1_1_x_35'),
 (0.00024732124806534794, 'work_distance_55'),
 (0.00024516435711521796, 'hsa_distance_1_2_x_60'),
 (0.00024378450254873357, 'hsa_distance_1_2_x_10'),
 (0.0002339082863359767, 'work_mode_12'),
 (0.00023261395259507658, 'work_distance_23'),
 (0.00023100178891977057, 'home_electricity_access_10'),
 (0.00023000438699998147, 'hsa_distance_1_2_x_25'),
 (0.00021456078700338787, 'hsa_distance_1_1_x_2'),
 (0.000209478290385243, 'school_distance_7'),
 (0.0002071768380980774, 'mode_freq_4_2'),
 (0.00020474635429641996, 'school_mode_3'),
 (0.00019855940352479461, 'school_distance_0'),
 (0.00019844242305058985, 'work_distance_80'),
 (0.00019790176243843324, 'school_distance_10'),
 (0.00019347896540306564, 'mode_freq_1_1'),
 (0.00018994141642492636, 'mode_freq_12_1'),
 (0.00018766672605240257, 'work_distance_31'),
 (0.00018757154528859047, 'hsa_distance_1_1_x_50'),
 (0.0001862185393969814, 'purchase_timing_5'),
 (0.0001837026718936092, 'charge_work_1'),
 (0.0001825233914934118, 'mode_freq_4_4'),
 (0.00017922903339586492, 'school_distance_20'),
 (0.00017779724312526292, 'school_mode_4'),
 (0.0001729958098916286, 'work_distance_26'),
 (0.00017218797375914078, 'mode_freq_2_3'),
 (0.00016867152603459965, 'mode_freq_4_3'),
 (0.0001564408054467573, 'school_mode_17'),
 (0.00015596436023942463, 'work_mode_8'),
 (0.0001525057059615949, 'home_parking_8_x_ '),
 (0.00015029392851142602, 'work_mode_13'),
 (0.0001490501264798275, 'hsa_distance_1_2_x_30'),
 (0.00014362785631830046, 'work_distance_53'),
 (0.00014061355725076915, 'mode_freq_10_2'),
 (0.0001355763479481693, 'hsa_distance_1_1_x_25'),
 (0.0001344436289003434, 'work_distance_36'),
 (0.00013385517185861647, 'mode_freq_1_2'),
 (0.0001317903580013317, 'work_distance_62'),
 (0.00013176352528410166, 'mode_freq_9_2'),
 (0.00012802101182607102, 'school_distance_8'),
 (0.00012094547826278756, 'charge_spots_2'),
 (0.00011195982016041676, 'hsa_distance_1_1_x_22'),
 (0.00011159933058689747, 'mode_freq_11_3'),
 (0.00011028479654719881, 'work_distance_46'),
 (0.00010655491685309092, 'work_distance_75'),
 (0.0001046250755620548, 'work_days_0'),
 (0.00010389140566817163, 'mode_freq_6_3'),
 (0.00010335777225725507, 'work_distance_37'),
 (0.00010076969901771805, 'mode_freq_1_3'),
 (9.61590780046399e-05, 'hsa_distance_1_1_x_1'),
 (9.614564052564275e-05, 'hsa_distance_1_2_x_5'),
 (9.518214310673596e-05, 'work_distance_19'),
 (9.065087008362316e-05, 'work_distance_100'),
 (8.984788728775561e-05, 'hsa_distance_1_1_x_30'),
 (8.959030951972757e-05, 'work_distance_43'),
 (8.919741721470435e-05, 'school_distance_75'),
 (8.540961297608017e-05, 'work_distance_150'),
 (8.408870674584304e-05, 'hsa_distance_1_2_x_1'),
 (8.403774553048081e-05, 'school_distance_30'),
 (8.331882525867466e-05, 'school_distance_25'),
 (8.329189297612535e-05, 'mode_freq_7_4'),
 (8.258490960808718e-05, 'work_distance_1.5'),
 (8.206082932068962e-05, 'work_distance_42'),
 (7.913617132095063e-05, 'work_distance_28'),
 (7.84998577152466e-05, 'hsa_distance_1_1_x_13'),
 (7.76597192746892e-05, 'school_distance_9'),
 (7.610860521906273e-05, 'work_distance_0.25'),
 (7.542163784588721e-05, 'school_distance_12'),
 (7.234163049826555e-05, 'work_distance_8.8'),
 (7.175614211352916e-05, 'school_distance_60'),
 (7.12041805491842e-05, 'hsa_distance_1_2_x_35'),
 (6.980062949607842e-05, 'work_distance_72'),
 (6.755441422859089e-05, 'school_distance_4'),
 (6.548778042895043e-05, 'mode_freq_8_4'),
 (6.372383371777474e-05, 'charge_spots_1'),
 (6.143180690676236e-05, 'hsa_distance_1_1_x_21'),
 (5.956994500987374e-05, 'hsa_distance_1_1_x_60'),
 (5.645222007205998e-05, 'work_distance_60'),
 (5.4840883936404016e-05, 'hsa_distance_1_2_x_40'),
 (5.4490120775491816e-05, 'work_distance_54'),
 (5.360784942438978e-05, 'work_distance_21'),
 (5.2681611497294043e-05, 'school_distance_120'),
 (5.10094556808229e-05, 'school_distance_33'),
 (5.0046665718617556e-05, 'work_distance_90'),
 (4.959901365635017e-05, 'hsa_distance_1_2_x_120'),
 (4.8437908678022343e-05, 'mode_freq_5_2'),
 (4.736067718877236e-05, 'work_distance_33'),
 (4.422609112495683e-05, 'mode_freq_10_4'),
 (4.3155297116438355e-05, 'school_distance_35'),
 (4.309538214253471e-05, 'work_distance_8.4'),
 (3.9706631121880975e-05, 'work_distance_0.5'),
 (3.908547876305498e-05, 'school_distance_11'),
 (3.8298313593492386e-05, 'work_distance_4.5'),
 (3.7685269660284996e-05, 'school_distance_2.8'),
 (3.674188959486568e-05, 'school_mode_13'),
 (3.636793339885908e-05, 'work_distance_110'),
 (3.635506569798683e-05, 'work_distance_88'),
 (3.566024891751435e-05, 'work_distance_70'),
 (3.5557072829292e-05, 'school_mode_10'),
 (3.532932286636917e-05, 'work_distance_6.5'),
 (3.50550104116727e-05, 'school_mode_6'),
 (3.2826487042610344e-05, 'home_electricity_access_3'),
 (3.215090534492226e-05, 'school_distance_200'),
 (3.1997525223544695e-05, 'work_distance_5.5'),
 (3.1780792273240405e-05, 'work_mode_14'),
 (3.1156359634724817e-05, 'work_distance_64'),
 (3.110157018626591e-05, 'work_distance_48'),
 (3.094614730774575e-05, 'work_mode_16'),
 (2.9020818344256444e-05, 'mode_freq_1_4'),
 (2.8580997365050548e-05, 'hsa_distance_1_2_x_12'),
 (2.8238178958519495e-05, 'work_mode_9'),
 (2.7285620170951313e-05, 'school_mode_7'),
 (2.612537348933228e-05, 'mode_freq_5_4'),
 (2.5213124803285613e-05, 'school_distance_19'),
 (2.2611888067297567e-05, 'work_distance_0.1'),
 (1.7034936022980333e-05, 'work_distance_200'),
 (1.54974433237469e-05, 'work_distance_24'),
 (1.3211588451241762e-05, 'mode_freq_12_3'),
 (8.572030497222556e-06, 'school_distance_14'),
 (8.312577137173362e-06, 'work_distance_9.3'),
 (8.269068280316664e-06, 'school_mode_5'),
 (7.640532946330747e-06, 'work_mode_6'),
 (2.294519967632344e-06, 'charge_work_3'),
 (2.9719306253520213e-07, 'school_distance_3'),
 (0.0, 'work_mode_7'),
 (0.0, 'work_mode_15'),
 (0.0, 'work_distance_98'),
 (0.0, 'work_distance_9.5'),
 (0.0, 'work_distance_9.4'),
 (0.0, 'work_distance_85'),
 (0.0, 'work_distance_8.5'),
 (0.0, 'work_distance_76'),
 (0.0, 'work_distance_7.5'),
 (0.0, 'work_distance_7.3'),
 (0.0, 'work_distance_68'),
 (0.0, 'work_distance_65'),
 (0.0, 'work_distance_63'),
 (0.0, 'work_distance_6.7'),
 (0.0, 'work_distance_6.6'),
 (0.0, 'work_distance_6.4'),
 (0.0, 'work_distance_6.2'),
 (0.0, 'work_distance_58'),
 (0.0, 'work_distance_52'),
 (0.0, 'work_distance_5.7'),
 (0.0, 'work_distance_5.4'),
 (0.0, 'work_distance_5.3'),
 (0.0, 'work_distance_47'),
 (0.0, 'work_distance_44'),
 (0.0, 'work_distance_41'),
 (0.0, 'work_distance_4.4'),
 (0.0, 'work_distance_39.2'),
 (0.0, 'work_distance_39'),
 (0.0, 'work_distance_38'),
 (0.0, 'work_distance_34'),
 (0.0, 'work_distance_3.5'),
 (0.0, 'work_distance_3.4'),
 (0.0, 'work_distance_3.25'),
 (0.0, 'work_distance_3.1'),
 (0.0, 'work_distance_29'),
 (0.0, 'work_distance_27'),
 (0.0, 'work_distance_24.5'),
 (0.0, 'work_distance_22.5'),
 (0.0, 'work_distance_20.3'),
 (0.0, 'work_distance_2.7'),
 (0.0, 'work_distance_2.6'),
 (0.0, 'work_distance_2.5'),
 (0.0, 'work_distance_2.3'),
 (0.0, 'work_distance_2.1'),
 (0.0, 'work_distance_166'),
 (0.0, 'work_distance_16.8'),
 (0.0, 'work_distance_155'),
 (0.0, 'work_distance_14.9'),
 (0.0, 'work_distance_130'),
 (0.0, 'work_distance_13.5'),
 (0.0, 'work_distance_125'),
 (0.0, 'work_distance_1.9'),
 (0.0, 'work_distance_1.8'),
 (0.0, 'work_distance_1.4'),
 (0.0, 'work_distance_1.2'),
 (0.0, 'work_distance_0.3'),
 (0.0, 'school_mode_8'),
 (0.0, 'school_mode_15'),
 (0.0, 'school_distance_9.2'),
 (0.0, 'school_distance_85'),
 (0.0, 'school_distance_82'),
 (0.0, 'school_distance_63'),
 (0.0, 'school_distance_55'),
 (0.0, 'school_distance_54'),
 (0.0, 'school_distance_50'),
 (0.0, 'school_distance_5.3'),
 (0.0, 'school_distance_5.2'),
 (0.0, 'school_distance_45'),
 (0.0, 'school_distance_42'),
 (0.0, 'school_distance_40'),
 (0.0, 'school_distance_32'),
 (0.0, 'school_distance_3.9'),
 (0.0, 'school_distance_3.5'),
 (0.0, 'school_distance_24'),
 (0.0, 'school_distance_22'),
 (0.0, 'school_distance_21'),
 (0.0, 'school_distance_2.5'),
 (0.0, 'school_distance_2.3'),
 (0.0, 'school_distance_18'),
 (0.0, 'school_distance_17'),
 (0.0, 'school_distance_16'),
 (0.0, 'school_distance_13'),
 (0.0, 'school_distance_121'),
 (0.0, 'school_distance_100'),
 (0.0, 'school_distance_1.8'),
 (0.0, 'school_distance_1.5'),
 (0.0, 'school_distance_0.5'),
 (0.0, 'school_distance_0.25'),
 (0.0, 'school_distance_0.2'),
 (0.0, 'next_purchase_5'),
 (0.0, 'mode_freq_9_4'),
 (0.0, 'mode_freq_9_3'),
 (0.0, 'mode_freq_6_4'),
 (0.0, 'mode_freq_12_4'),
 (0.0, 'mode_freq_12_2'),
 (0.0, 'mode_freq_11_4'),
 (0.0, 'mode_freq_10_3'),
 (0.0, 'hsa_distance_1_2_x_8'),
 (0.0, 'hsa_distance_1_2_x_7'),
 (0.0, 'hsa_distance_1_2_x_50'),
 (0.0, 'hsa_distance_1_2_x_45'),
 (0.0, 'hsa_distance_1_2_x_4'),
 (0.0, 'hsa_distance_1_2_x_300'),
 (0.0, 'hsa_distance_1_2_x_3'),
 (0.0, 'hsa_distance_1_2_x_23'),
 (0.0, 'hsa_distance_1_2_x_2'),
 (0.0, 'hsa_distance_1_2_x_150'),
 (0.0, 'hsa_distance_1_2_x_14'),
 (0.0, 'hsa_distance_1_2_x_0'),
 (0.0, 'hsa_distance_1_1_x_9'),
 (0.0, 'hsa_distance_1_1_x_80'),
 (0.0, 'hsa_distance_1_1_x_70'),
 (0.0, 'hsa_distance_1_1_x_56'),
 (0.0, 'hsa_distance_1_1_x_5553'),
 (0.0, 'hsa_distance_1_1_x_5000'),